<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Quotes</title>
  <script defer src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
  <h1>Quotes to inspire, learn or laugh</h1>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="quote" name="quote">
    <input type="text" placeholder="name" name="name">
    <button type="submit">Add Quote</button>
  </form>

  <ul class="quotes">
    <% for(let i=0; i < info.length; i++) { %>
      <li class="quote">
        <span>"<%= info[i].quote %>"</span>
        <span style="font-weight:bold"> - <%= info[i].name %></span>
        <i class="ph-bold ph-thumbs-up"></i>
      </li>
      <% } %>
  </ul>
</body>
</html>